 <div class="row mb-3">
    <h2><a href="/Admin/Order/Index"><i class="bi bi-arrow-left"></i></a> Create New Order</h2>
</div>

<div class="row">
    <form asp-action="Create" asp-controller="Order" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <label for="MovieId" class="form-label">Select Customer</label>
            <select class="form-select" name="CustomerId">
                @foreach (var item in ViewBag.a)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>

        </div>
        <a href="/Customer/Create" type="button" class="btn btn-outline-primary">Create new Customer</a>

        <div class="mb-3">

            <label for="OrderDate" class="form-label">OrderDate</label>
            <input type="datetime-local" class="form-control" id="OrderDate" name="OrderDate" />
        </div>
        <div class="mb-3">

            <label for="totalAmount" class="form-label"> total Amount</label>
            <input class="form-control" name="totalAmount">
        </div>

        <div class="mb-3">

            <label for="Price" class="form-label">Price</label>
            <input class="form-control" name="Price">
        </div>
        <div class="mb-3">
            <label for="Status" class="form-label">Select Status</label>
            <select class="form-select" name="Status">
                @foreach (var item in (List<SelectListItem>)ViewBag.StatusList)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>

         
        <button href="/Order/Details" type="submit" class="btn btn-primary">Submit</butto>
    </form>
 
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml"></partial>
}  <script>
       function previewImage(event) {
           const file = event.target.files[0];
           const preview = document.getElementById('imagePreview');

           if (file) {
               const reader = new FileReader();
               reader.onload = function (e) {
                   preview.src = e.target.result;
                   preview.style.display = 'block';
               }
               reader.readAsDataURL(file);
           } else {
               preview.src = '';
               preview.style.display = 'none';
           }
       }
</script>
