  @using  Models
 @model SubmitReview
<div class="row mb-3">
    <h2><a href="/Admin/Review/Index"><i class="bi bi-arrow-left"></i></a> Edit Review: @Model.Name  </h2>
</div>

<div class="row">

    <form asp-action="Edit" asp-controller="Review" enctype="multipart/form-data" method="post">
        <div class="mb-3">

            <input type="hidden" class="form-control" id="CinemaName" name="Id" value="@Model.Id">

            <label for="Name" class="form-label">Review Name</label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">

            <label for="Review" class="form-label">Review</label>
            <input asp-for="Review" class="form-control">
        </div>
        <div class="mb-3">
            <label for="Date" class="form-label">Date</label>
            <input asp-for="Date" class="form-control">
        </div>

        <div class="mb-3">

            <label for="Rating" class="form-label"> Rating</label>
            <input asp-for="Rating" class="form-control">
        </div>
        <div class="mb-3">

            <label for="Email" class="form-label"> Email</label>
            <input asp-for="Email" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>