<div class="row mb-3">
    <h2><a href="/Admin/Inventory/Index"><i class="bi bi-arrow-left"></i></a> Create New Inventory</h2>
</div>

<div class="row">
    <form asp-action="Create" asp-controller="Inventory" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <label for="MovieId" class="form-label">Select Supplier</label>
            <select class="form-select" name="SupplierId">
                @foreach (var item in ViewBag.a)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>

        </div>
 
        <div class="mb-3">

            <label for="Name" class="form-label">Name</label>
            <input  class="form-control" id="Name" name="Name" />
        </div>
        <div class="mb-3">

            <label for="Quantity" class="form-label">Quantity</label>
            <input class="form-control" name="Quantity">
        </div>

        <div class="mb-3">

            <label for="UnitPrice" class="form-label">Unit Price</label>
            <input class="form-control" name="UnitPrice">
        </div>
 
        <button   type="submit" class="btn btn-primary">Submit</butto>
    </form>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml"></partial>
}  <script>
       function previewImage(event) {
           const file = event.target.files[0];
           const preview = document.getElementById('imagePreview');

           if (file) {
               const reader = new FileReader();
               reader.onload = function (e) {
                   preview.src = e.target.result;
                   preview.style.display = 'block';
               }
               reader.readAsDataURL(file);
           } else {
               preview.src = '';
               preview.style.display = 'none';
           }
       }
</script>
